:root {
  --color-dark: #1f2937;
  --blue-bg: #3882f6;
  --color-light: #e5e7eb;
  --font-color-light: #f9faf8;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  display:block;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Layout */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--font-color-light);
  width: 1000px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 8px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#logo {
  font-weight: 900;
  font-size: 24px;
  align-self: center;
}

.dark-bg {
  background-color: var(--color-dark);
  padding-top: 1rem;
}

.light-bg {
  background-color: var(--color-light);
}

.hero {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 450px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--color-dark);
}

h3 {
  font-size: 24px;
  font-weight: 900;
  color: var(--font-color-light);
  margin-top: 0;
}

.hero p, .hero h1 {
  color: var(--font-color-light);
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 100%;
}

.col-2 img {
  width: 100%;
}

.btn {
  padding: 10px 25px;
  border-radius: 10px;
  background-color: var(--blue-bg);
  color: var(--font-color-light);
  font-weight: 900;
}

.four-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
}

.square {
  width: 100%;
  padding-top: 100%;
  border: 2px solid var(--blue-bg);
  border-radius: 10px;
}

.margin-btm {
  margin-bottom: 40px;
}

.site-width {
  width: 1000px;
}

.quote {
  background-color: var(--color-light);
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.quote-auth {
  font-size: 24px;
  font-weight: 800;
  text-align: right;
  color: var(--color-dark)
}

.cta {
  display: flex;
  width: 1000px;
  align-items: center;
  background-color: var(--blue-bg);
  padding: 2rem;
  border-radius: 0.8rem;
}

.cta p {
  font-size: 18px;
  color: var(--font-color-light);
  margin-top: 0;
}

.cta a {
  padding: 0.5rem 2rem;
  border: 2px solid var(--color-light);
  border-radius: 0.8rem;
  color: var(--font-color-light);
  font-weight: 900;
}

.col-1-cta {
  width: 75%;
}

.col-2-cta {
  justify-content: right;
  width: 20%;
}

footer {
  display: flex;
  background-color: var(--color-dark);
  color: var(--font-color-light);
  justify-content: center;
  align-items: center;
  padding: 2rem;
}